.container {
    width: 100%;
    padding: 1% 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 1400px) {
    .container {
        padding: 1% 10%;
    }
}
@media only screen and (max-width: 1050px) {
    .container {
        justify-content: center;
    }
}