.icon {
    width: 45%;
    height: 35vh;
    box-shadow: 3px 6px 50px 8px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    margin: 5% 0;
    padding:  0 5%;
}

.h4 {
    font-size: 1.1em;
}
.p {
    font-weight: 300;
    font-size: 0.9em;
}