.imageContainer {
    position: fixed;
    top: 1%;
    right: 5vw;
    animation: move 4s ease-out 0s 1 normal forwards;
    z-index: 100;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.imageContainer h6 {
    font-size: 2em;
    word-spacing: -10px;
}

@keyframes move {
    0% {
        opacity: 0;
    } 25% {
        opacity: 1;
    } 50% {
        opacity: 1;
        right: 15vw;
    } 75% {
        opacity: 1;
    } 100% {
        opacity: 0;
        right: 15vw;
    }
}

.circles {
    padding: 6px;
    border-radius: 50px;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 1em;
    letter-spacing: -3px;
    word-spacing: -10px;
}