.imageContainer {
    position: fixed;
    top: calc(60px + 1%);
    right: 5vw;
    animation: move 2s ease-out 0s 1 normal forwards;
    z-index: 100;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.imageContainer h6 {
    font-size: 2em;
}

@keyframes move {
    0% {
        top: calc(60px + 1%);
        right: 5vw;
        opacity: 0;
    } 25% {
        opacity: 1;
        top: calc(60px + 1%);
        right: 5vw;
    } 50% {
        opacity: 1;
        top: calc(60px + 1%);
        right: 5vw;
    } 75% {
        opacity: 1;
    } 100% {
        top: 0;
        right: 0;
        opacity: 0;
    }
}

.circles {
    padding: 10px;
    border-radius: 50px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 1em;
    letter-spacing: -5px;
    word-spacing: -8px;
}