.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1% 12%;
}

.a {
    text-decoration: none;
}
.a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .footer {
        display: none;
    }
}